@import 'bourbon-master/bourbon';

body{
	background: orange;
}

// Bootstrap tricks 
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none !important;
}

// start your code here

